@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Play:wght@400;700&display=swap');
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

/* 초기화 */
html {overflow-y:scroll;-webkit-font-smoothing: antialiased;}
body {margin:0;padding:0;font-size:0.75em;font-family:'Play','NanumSquare','Noto Sans KR', dotum, sans-serif;background:#fff}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Play','NanumSquare', dotum, sans-serif}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
button {margin:0;padding:0;font-family:'Play','NanumSquare','Noto Sans KR', dotum, sans-serif;font-size:1em} 

h1, h2, h3, h4, h5, h6, table, a, p, button, span,label,strong { transform: skew(-0.03deg); word-break: keep-all; }

ul, dl,dt,dd {margin:0;padding:0;list-style:none}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle;font-size:1em}
input {margin:0;padding:0;font-family:'Play','NanumSquare','Noto Sans KR', dotum, sans-serif;font-size:1em}
input[type="submit"] {cursor:pointer}
button {cursor:pointer}
img { width:auto; }

textarea, select {font-family:'Play','NanumSquare','Noto Sans KR', dotum, sans-serif;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a {color:#000;text-decoration:none}

*, :after, :before {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

input[type=text],input[type=password], textarea {
-webkit-transition:all 0.30s ease-in-out;
-moz-transition:all 0.30s ease-in-out;
-ms-transition:all 0.30s ease-in-out;
-o-transition:all 0.30s ease-in-out;
outline:none;
}

:focus { outline:2px dotted #000 }

:focus:not(:focus-visible) {
    outline: 0;
}

input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {
border:2px dotted #000;
}

/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;width:0;height:0;margin:0 !important;padding:0 !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}

.view_table .vw_con .stb-image-box img { width:100% !important; } 

/*공통*/

.inner { width:100%; max-width:1200px; margin: 0 auto; position:relative}


/*한섬원 아카데미*/
/*
.tab { overflow: hidden; margin-bottom: 5%; border-bottom: 1px solid #dadada; }
.tab .innerPage  div { width: 50%; height: 60px; float: left; transition: all .5s; }
.tab .innerPage div.selected a { color: #333; cursor: default; font-weight: bold; }
.tab .innerPage div a {	display: block;	line-height: 60px; text-align: center; transition: all .2s;	font-size: 1.25rem;}
.marker li {list-style:square;padding-bottom:5px}*/
.textEtc { display: flex; width: 100%; }
.textEtc > li { width: 50%; display: flex; align-items: center; justify-content: center; }
.textEtc > p { font-size: 25px; }
.textEtc li > div {width:150px;height:150px;border-radius:100%;border:2px solid #eee;padding: 29px;}

#gallery_pop .slick-prev {position: absolute;
    top: 40%;
    left: 35%;
    margin-left: -45%;
    z-index: 1;
    font-size: 0;
    border: 0;
    width: 45px;
    height: 86px;
    background: url(/images/egovframework/com/jpg/prev_arrow3.png) no-repeat;}
    
#gallery_pop .slick-next {position: absolute;
    top: 40%;
    right: -10%;
    margin-left: -45%;
    z-index: 1;
    font-size: 0;
    border: 0;
    width: 45px;
    height: 86px;
    background: url(/images/egovframework/com/jpg/next_arrow3.png) no-repeat;}    

/*한섬원 아카데미 그래프*/
/*
.tn_chart .c3-axis-y .domain {stroke-width: 0px;}
.tn_chart  text{font-family: 's-core_dream4_regular';font-size: 1.6rem;fill: #666;}
.tn_chart .c3 path, .tn_chart_wrap .c3 line{stroke:#c7cee1}
.tn_chart .c3-axis-y line{stroke:#fff}
*/
.grapeText { text-align: center; font-size: 40px; margin-top: 75px; margin-bottom: 50px; }
.textEtc {margin-top: 75px;padding: 25px;border: 1px solid #ededed;}
.textEtc img {width: 75px;height: auto;display: block;margin: 0 auto;}
.textEtc p { text-align: center; margin-left: 35px; font-size: 20px; }

/*헤더*/

#hd { width: 100%; background: rgba(0,0,0,.2); position: absolute; top: 0; left: 0; z-index: 9999; }
/*#hd.on { background:#fff; }*/
#hd::after { display: block; content: ""; clear: both; }
#hd .tnb { width:100%; border-bottom:1px solid #fff; }
/*#hd.on .tnb { border-bottom:1px solid #ddd }*/
#hd .hd_qnb { text-align: right; }
#hd .hd_qnb li { display: inline-block; }
#hd .hd_qnb li a { color: #fff; font-size:14px; display: block; padding:5px }
/*#hd.on .hd_qnb li a { color:#aaa }*/
#hd .hd_qnb li:last-child a { padding-right:0px }

#hd .logo { float: left; padding:10px 0 }
#hd .logo a { width:189px;height:53px; background:url(/images/egovframework/com/jpg/logo.png) no-repeat; display: block; }
/*#hd.on .logo a { width:169px;height:43px; background:url(/images/egovframework/com/jpg/ft_logo.png) no-repeat; display: block; }*/

#hd .hd_menu {width: calc(100% - 200px);float: right;}
#hd .hd_menu:after { display: block; content:""; clear: both; }
#hd .hd_menu .hd_ul01 { position: relative; float: right; }
#hd .hd_menu .hd_ul01 .hd_li01 { float: left; position: relative; }
#hd .hd_menu .hd_ul01 .hd_li01 .hd_a01 {display: block;padding: 26px /*50*/34px;color: #fff;font-size: 17px;font-weight: 900;}
#hd .hd_menu .hd_ul01 .hd_li01.click .hd_a01 {background:#2270e5; color:#fff !important; transition:.2s;border-radius: 0 25px;}

/*#hd.on .hd_menu .hd_ul01 .hd_li01 .hd_a01 { color: #2270e5;}*/

#hd .hd_menu .hd_ul02 {width: 100%;position: absolute;top: 73px;background: #fff;display: none;border-radius: 25px 0;
box-shadow:5px 5px 10px rgba(0 0 0 /20%)
}
#hd .hd_menu .hd_ul02:before { width: 0px;height: 0px; border-top:12px solid none; border-bottom:12px solid #fff; border-right: 12px solid transparent; border-left: 12px solid  transparent;
	position:absolute; top:-12px; left:50%; transform:translate(-50%); display:block; content:""
 }
#hd .hd_menu .hd_ul01 .hd_li02 { text-align:center }
#hd .hd_menu .hd_a02 { width: 100%; display: block; padding:15px 10px; font-size:15px;}
#hd .hd_menu .hd_a02:hover { font-weight:600; color: #2447a9; text-decoration:underline}

/*푸터*/

.footer { width:100%; background: #fff; font-size:15px; color: #7f7f7f; border-top:1px solid #ddd}
.footer .ft_link { border-bottom:1px solid #ddd; padding:15px 0;}
.footer .ft_link ul {}
.footer .ft_link ul::after { display: block; content:""; clear: both; }
.footer .ft_link ul li { display: inline-block; border-left: 1px solid #7f7f7f;}
.footer .ft_link ul li:first-child { border: 0; }
.footer .ft_link ul li a { padding:0 15px; color: #7f7f7f; }

.footer .ft_info { padding: 30px 0; }
.footer .ft_info::after { display: block; content:""; clear: both; }
.footer .ft_info .ft_logo { float: left; margin: 0 20px; }
.footer .ft_info0 { float: left; padding-left:20px }
.footer .ft_info0 p { line-height: 1.3em; }
.footer .ft_info0 .copyright { padding-top:10px }
.inner .ft_banner {float:right; display: block;}
.inner .snsLogo {display: flex; justify-content: space-around;}

.ft_logo0::after {display:block;clear:both;content:"";}
.ft_logo0 > a {border:1px solid #ddd;}
.ft_logo0 > a:last-child {margin-right:2px}
.ft_flex {display: flex;justify-content: space-between;align-items: center;}

.pc_view { display:block; }
.m_view { display:none; }

.tbl02 .nemo { text-align:left; }
.table_15 tbody .nemo { text-align:left; } 
.table_15 {height:auto; overflow:hidden; margin:20px 0; border-top:2px solid #3b5999;}
.table_15 table {border-collapse:collapse; width:100%;}
.table_15 tbody th {background:#f9f9f9; padding:10px 10px; font-size:13px; font-weight:bold; border-left:1px solid #ddd;}
.table_15 tbody td {border:1px solid #ddd; padding:10px 10px; font-size:15px;}

.person-layout dt .map_tit {margin:0; padding-top:0; padding-bottom:0px; width:1px; height:1px; border:0;}
.person-layout dt .map_tit i { vertical-align:middle; color:#2447a9; margin-right: 5px;}
.person-layout dd .table_15 {margin:0; width:1px; height:1px; border:0;}
.person-layout dd .table_15 th {border-bottom:0; border-left:0;}
.person-layout dd .table_15 td {border:0;}

.person-layout dt .active {margin:20px 0; padding-top:10px; font-size:18px; width:100%; height:auto;}
.person-layout dd .active1 {margin:20px 0; width:100%; height:auto; border-top:2px solid #3b5999;}
.person-layout dd .active1 th {border-bottom:1px solid #ddd; border-left:1px solid #ddd;}
.person-layout dd .active1 th:first-child { border-left:0 }
.person-layout dd .active1 td {border:1px solid #ddd;}
.map_ex_box { text-align:center; background:#eee; padding:5px; margin-top:10px} 

.btn01 { /*float: right;*/
    background: #003265;
    color: #fff;
    padding: 5px 20px; display:inline-block;}  
.btn01:after { display:block; content:""; clear:both;}
@media screen and (max-width:1199px) {
	.pc_view { display:none; }
	.m_view { display:block; }
	
	#hd .tnb .inner { padding:0 20px; }
	#hd.on { background:rgba(0,0,0,.2) }
	#hd .logo { padding-left:20px } 
	#hd.on .logo a { background:url(/images/egovframework/com/jpg/logo.png) no-repeat; }
	#hd.on .hd_qnb li a { color:#fff; }
	#hd .hd_menu.m_view { width:250px; height:100%; position:fixed; left:0; top:0; background:#fff; z-index:999; overflow:auto; display:none; }
	#hd .hd_menu.m_view .hd_ul01 .hd_li01 { width:100%; text-align:center }
	#hd .hd_menu.m_view .hd_ul02 { position:relative; top:0; box-shadow:unset; -webkit-box-shadow:unset; -moz-box-shadow:unset; background:#f7f7f7; border-radius:unset }
	#hd .hd_menu.m_view .hd_ul02:before {  } 
	#hd .hd_menu.m_view .hd_ul01 .hd_li01 .hd_a01 { color:#aaa; }
	#hd .hd_menu.m_view .hd_ul02 .hd_li02 { border-bottom:1px solid #eee }
	#hd .hd_menu.m_view .hd_ul02 .hd_li02:last-child { border:0 }
	.hd_back { width:100%; height:100%; position:fixed; z-index:998; background:rgba(0,0,0,.4); top:0; left:0; display:none; }
	button.m_view.hd_open { width:72px; height:72px; background:transparent;position:absolute; right:0 }
	button.m_view.hd_open .material-icons {font-size:40px; color:#fff}
	.m_tnb { text-align:center; padding:20px; background:#333;}
	.m_tnb ul { margin-top:20px; }
	.m_tnb ul li a { border-radius:25px; border:1px solid #ddd; padding:8px; font-size:14px; display:block; color:#fff; }
	.inner .ft_banner {}
}

@media screen and (max-width:650px) {
	
	.footer { font-size:12px; text-align:center }
	.footer .ft_info .ft_logo { float:unset; text-align:center; margin-bottom:20px }
	.footer .ft_info0 { float:unset }
	button.m_view.hd_open { height:60px }
	#hd.on .logo a { width: 164px;height: 40px; background-size:contain }
	#hd .logo a {width: 164px;height: 40px;background-size:contain}
	.inner .ft_banner {float:unset; margin-right:0; margin-top:20px}
	.footer .ft_link { padding:15px }
	.footer .ft_info { padding:30px 15px }
	.m_tnb img { width:164px; }
	
	.textEtc > li { width:100%; flex-wrap:wrap; }
	.textEtc li > div { width:130px; height:130px; }
	.textEtc p { margin-left:0; margin-top:10px }
	.textEtc img { width:63px }

}

@media screen and (max-width:350px) {
	.footer .ft_link ul li a { padding:0 10px }
	.inner .ft_banner {padding:0 20px;}
	.inner .ft_banner img {max-width:100%}
}

