
/*메인*/


.main-container {width: 100%;height: calc(100vh); min-height:930px; max-height:1000px;position: relative;}
#main-banner {width:100%;height:100%;}
#main-banner .main-banner-div {width: 100%;height: calc(100vh); min-height: 930px;max-height: 1000px;}
#main-banner .main-banner-img01 {background: url(/images/egovframework/com/jpg/main_banner1.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img02 {background: url(/images/egovframework/com/jpg/main_banner2.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img03 {background: url(/images/egovframework/com/jpg/main_banner3.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img04 {background: url(/images/egovframework/com/jpg/main_banner4.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img05 {background: url(/images/egovframework/com/jpg/main_banner5.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img06 {background: url(/images/egovframework/com/jpg/main_banner6.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img07 {background: url(/images/egovframework/com/jpg/main_banner7.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img08 {background: url(/images/egovframework/com/jpg/main_banner8.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img09 {background: url(/images/egovframework/com/jpg/main_banner9.jpg) no-repeat 0px 79%; background-size:cover;}
#main-banner .main-banner-img10 {background: url(/images/egovframework/com/jpg/main_banner10.jpg) no-repeat 0px 79%; background-size:cover;}
.main-content {/*position: absolute; top: 55%; left:50%; transform: translate(-50%,-50%);*/width: 100%;/* padding: 17% 0 7%; */position:absolute;top: 0;top: 50%;transform: translateY(-50%);}
.content01 { width: 90%; }
.content01 { text-shadow: 6px 3px 3px black; }
/* .content01 { -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: black;} */ 
 
.content01::after { display: block; content: ""; clear: both; }
.content02 { width: 100%; margin-top:30px }
.content02::after { display: block; content: ""; clear: both; }

.main_bottom {width: 100%;height: calc(100vh); min-height:1000px;background: url(/images/egovframework/com/jpg/q_back.jpg) no-repeat 0px 79%; background-size:cover;position: relative;}
.main_b_inner {padding:250px 18.75vw;}
.main_bottom .main_b_tit h2 {font-size: 38px; display: inline-block; font-family: 'Noto-Sans'; color:#fff; margin-bottom:30px;}
.main_b_category a {color:#fff;}
.main_b_category .main_b_submenu > li {width:100%; }
.main_b_category .main_b_submenu01 {margin:0 -15px; padding-top:100px;}
.main_b_category .main_b_submenu01::after {clear:both; display:block; content:""}
.main_b_category .main_b_submenu01 > li {float:left; width:25%; padding:0 15px;}
.main_b_category .main_b_submenu01 > li:last-child {margin-right:0;}
.main_b_category .main_b_submenu01 > li > a {display: flex; justify-content: space-between; align-items: center; font-size:17px; border-bottom:1px solid #fff; padding-bottom:20px;}
.index_inner {padding:0px 18.75vw;}

.banner {width: 710px;height: 530px;border-radius: 10px;overflow: hidden;background: #fff;position: relative;float: left;
box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);-webkit-box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);-moz-box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
}
.banner .banner_slide { width: 100%; height: 100%; }
.banner div {  }
.banner img { width:100%; height:auto; }
.banner .slick-prev {position: absolute; top:45%; left:50%; margin-left:-45%; z-index: 1; font-size:0; border: 0;
  width: 45px; height:86px; background: url(/images/egovframework/com/jpg/arrow02.png) no-repeat;}
.banner .slick-next {position: absolute; top:45%; right:50%; margin-right:-45%; z-index: 1; font-size:0; border: 0;
  width: 45px; height:86px; background: url(/images/egovframework/com/jpg/arrow01.png) no-repeat;}
  
.slick-dots { position: absolute; bottom: 25px; left: 50%; transform: translateX(-50%); }
.slick-dots::after { display: block; content: ""; clear: both; }
.slick-dots li { float: left; margin-right: 8px; }
.slick-dots li button { width:15px; height: 15px; border-radius: 100%; background: #fff; font-size: 0; border: 0;  transition: .3s;}
.slick-dots li.slick-active button { background: rgb(67,101,209); width: 50px; height: 12px; border-radius: 50px;  transition: .3s;}

button.slick-prev.slick-arrow {position: absolute;width: 60px;height: 60px;left: -60px;top: 25%;background: transparent;font-size: 0; background: url(/images/egovframework/com/jpg/arrow_back.svg) no-repeat center; background-size:contain}
button.slick-next.slick-arrow {position: absolute;width: 60px;height: 60px;right: -60px;top: 25%;background: transparent;font-size: 0; background: url(/images/egovframework/com/jpg/arrow_forward.svg) no-repeat center;background-size:contain}

.q_menu { float: right; width: 460px;}
.q_menu ul { }
.q_menu ul::after { display: block; content: ""; clear: both; }
.q_menu ul li {width:48%;height: 255px;background: #fff;float: left;margin-bottom:15px;border-radius: 15px;box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);-webkit-box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);-moz-box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);}
.q_menu ul li:nth-child(2n) { margin-left:4%; }
.q_menu ul li a { display: block; width: 100%; height: 100%; padding: 40px 25px; }
.q_menu ul li.menu01 { background: #fff url(/images/egovframework/com/jpg/q_menu01.png) no-repeat 20% bottom; }
.q_menu ul li.menu01 h3 { text-align: right; font-size: 20px; font-weight: 900;}
.q_menu ul li.menu02 { background: url(/images/egovframework/com/jpg/q_menu02-2.png) no-repeat top; text-align: center; }
.q_menu ul li.menu02 h3 { font-size:22px; font-weight: 900; margin-top:20px; color: #fff; }
.q_menu ul li.menu03 { background: url(/images/egovframework/com/jpg/q_menu03-2.png) no-repeat top; text-align: center; }
.q_menu ul li.menu03 a { padding:25px 25px; }
.q_menu ul li.menu03 h3 { font-size:22px; font-weight: 900; margin-top:20px; color: #fff; }
.q_menu ul li.menu04 { background: url(/images/egovframework/com/jpg/q_menu04.png) no-repeat bottom; }

.main_tit { width:100%; color:#fff; }
.main_tit:after { display:block; content:""; clear:both }
.main_tit h2 {font-size: 115px; display:inline-block; font-family:'Noto-Sans'}
.main_tit h3 {font-size: 36px; /* display:inline-block;margin-left: 15px;padding-left: 15px;border-left: 1px solid #fff; */ font-family:'Noto-Sans'} 

.q_icon {width: 80%;margin: 20% auto 0;}
.q_icon img { display:inline-block; }
.q_icon::after { display: block; content:""; clear: both; }
.q_icon ul {  }
.q_icon ul::after { display: block; content:""; clear: both; }
.q_icon ul li {float: left;width: 13.666%;/* margin: 0 3%; */text-align: center;}
.q_icon ul li a {display: block;color: #fff;font-size: 19px;font-weight: 600;}
.q_icon ul li a:hover {  transition: .2s; }
.q_icon ul li .icon {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 15px;
  margin: 0 auto; padding:17px 0;
  margin-bottom: 15px;
  box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
  -webkit-box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
  -moz-box-shadow: 1px 1px 10px rgb(0 0 0 / 25%);
}

.Remark { position:absolute; bottom:20px; right:20px; font-size:15px; color:#fff; font-family:'Noto-Sans'; text-align:right; }

.latest { width: 460px; border-radius: 15px; background: #fff; float: right; padding:20px; position: relative;}
.latest header { border-bottom: 1px solid #ddd;}
.latest header h2 { font-size:17px; font-weight: 900; display: inline-block; position: relative;  padding-bottom:10px}
.latest header h2::before { width:100%; background: #18bdae; height:3px; position: absolute; bottom: -2px; left:0; display: block; content: "";}
.latest .more { width: 20px; height: 20px; background: #2447a9; color: #fff; font-weight: 900; font-size:14px; border-radius: 5px; border: 0; position: absolute; top: 15px; right: 20px;}
.latest ul {padding-top:15px}
.latest ul li { width: 100%; margin-bottom:5px; font-size:15px; }
.latest ul li::after { display: block; content:""; clear: both; }
.latest ul li .la_tit {float: left;font-weight: 600;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 65%;}
.latest ul li .la_tit:hover { text-decoration:underline; }
.latest ul li .la_date { float: right; color: #7f7f7f}

/*220926*/
.csr-index {padding: 132px 0 96px 18.75vw;}
.csr-index h3 {font-size: 56px; font-weight: 500; color: #202020; letter-spacing: -2.8px;}
.csr-index h2 {font-size: 2.2em; font-weight: 550; color: #202020;}
.csr-index p {font-size: 1.7em; color: #333; margin-top:15px;}
.csr-index .slick-track {margin-top: 40px;}
#main_middle .img_m {margin-bottom: 20px;}
#main_middle .slick-slide {width: 33.3333333%;margin-right: 30px;}
#main_middle .slick-slide .img_m > img {width:100%;}
#main_middle li .img_div {position:relative;}
#main_middle li .img_div .img_hover {opacity: 0; transition: .7s; position:absolute; top:0;left:0;bottom:0;right:0;background-color: #292929ad;}
#main_middle li:hover .img_div .img_hover {opacity: 1;transition: .6s;}
#main_middle li .link_img {position:absolute;left:50%;top:50%;transform:translate(-50%,-50%) rotate(-40deg);font-size:70px;color:#fff;}
#main_bottom .img_b > img {max-height:1000px;}

@media screen and (max-width:1199px) {
	.main-container, #main-banner .main-banner-div { height:100vh; /*padding-top:100px; padding-bottom:50px;*/ min-height: 650px; max-height: 930px;}
	.main-content {  /*position:unset; transform:unset;padding: 15% 0 7%;*/}
	
	.banner {width:100%;}
	
	.q_menu { width:100%; margin-top:30px;}
	.q_menu ul li:nth-child(2n) { margin-left:0 }
	.q_menu ul li { width:23%; margin-right:2.5%; }
	.q_menu ul li:last-child { margin-right:0 }
	.q_icon ul li .icon { width:60px; height:60px; }
	.q_icon ul li .icon img { width:40px }
	.q_menu img { width:100px }
	.q_menu ul li.menu02 { padding-top:20px }
	
	.q_icon {}
	
	.latest { width:100%; margin-top:30px; }

	/*220926*/
	.csr-index {padding: 50px 0 50px 30px;}
	.csr-index h3 {font-size: 43px; padding-right:30px;}
	.csr-index h2 {font-size: 1.8em; font-weight: 550; color: #202020;}
	.csr-index p {font-size: 1.4em; color: #333; margin-top:15px;}
	/*.main_tit h2 {padding: 30px 0 0 30px;}
	.main_tit h3 {padding: 0 30px;}*/
	.main_bottom {min-height: 800px;}
	.main_b_inner {padding: 200px 30px;}
	.main_b_category .main_b_submenu01 > li > a {height:40px}
}

@media screen and (max-width:650px) {
	.main-container, #main-banner .main-banner-div { height:100vh;min-height: 600px; max-height:728px; /*padding-top:100px; padding-bottom:50px;*/}

	.main-content {  /*position:unset; transform:unset;padding: 28% 0 7%;*/}
	
	.banner { height:100%; }
	.banner .slick-prev { width:20px; background-size:contain}
	.banner .slick-next { width:20px; background-size:contain}
	
	.q_menu ul li { width: 48%; margin-right:0; height:230px; }
	.q_menu ul li:nth-child(2n) { margin-left:3% }
	.q_menu ul li.menu03 h3 { font-size:20px }
	.q_menu ul li.menu02 h3 { font-size:20px }
	.q_menu ul li.menu02 { padding-top:10px; }
	
	.q_icon ul { text-align:center; }
	.q_icon ul li { width:28.5%; float:unset; display:inline-block; margin-bottom:15px; margin:0 2% 15px; }
	.q_icon ul li:hover a { top:0 }
	.q_icon ul li a { font-size:14px }

	.latest ul li { font-size:13px; }
	
	.footer { font-size:12px; text-align:center }
	.footer .ft_info .ft_logo { float:unset; text-align:center; margin-bottom:20px }
	.footer .ft_info0 { float:unset }

	.main_tit { text-align:center }
	.main_tit h2 { font-size:70px; }
	.main_tit h3 { font-size:20px; margin-left:0; border:0 }
	
	button.slick-next.slick-arrow { width:44px; height:44px; right:-20px; }
	button.slick-prev.slick-arrow { width:44px; height:44px; left:-20px; }
	
	/*220926*/
	.csr-index {padding: 30px 0 30px 15px;}
	.csr-index h3 {font-size: 36px;}
	.csr-index h2 {font-size: 1.6em;}
	.csr-index p {font-size: 1.3em;}
	.csr-index .slick-track {margin-top:20px;}
	#main_middle .slick-slide {margin-right:15px;}

	.main_bottom {min-height:700px;}
	.main_b_inner {padding:125px 30px;}
	.main_bottom .main_b_tit h2 {font-size:30px; margin-bottom:80px;}
	.main_b_category .main_b_submenu01 {padding-top:0px;}
	.main_b_category .main_b_submenu01 > li {width:50%; margin-bottom:40px;}
	
}

/*220926*/
@media screen and (max-width:500px) {
	.main_tit h2 {font-size: 42px;}

	.csr-index h3 {font-size: 27px;}

	#main_middle .img_m {margin-bottom: 7px;}

	.csr-index p {margin-top: 10px;}
	.main_b_inner {padding:65px 30px;}
	.main_bottom {min-height:810px;}
	.main_bottom .main_b_tit h2 {font-size:25px; margin-bottom:50px;}
	.main_b_category .main_b_submenu01 > li {width:100%; margin-bottom:30px;}
	.main_b_category .main_b_submenu > li:last-child .main_b_submenu01 > li:last-child {margin-bottom:0px;}
}

@media screen and (max-width:350px) {
	.footer .ft_link ul li a { padding:0 10px } 
	
	/*220926*/
	.main_tit h2 {font-size: 38px;}
	.main_bottom {min-height:900px;}
}